<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptela">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dente"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dente"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTela"
        >
        <activity
            android:name=".NonaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OitavaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SetimaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SextaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuintaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuartaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TerceiraActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SegundaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>